@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Oswald:wght@300&display=swap');

body{
    margin: 0 10%;
}

.box{
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

#color-container{
    width: 100%;
}

.color-panel{
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    width: 32%;
}

.name, .color-code-type, .note{
    font-weight: bold;
}

#blue{
    color: white;
    background-color: blue;
}

#black{
    background-color: #080808;
    color: white;
}

#green{
    background-color: rgb(6, 248, 62);
    color: black;
}

#pink{
    background-color:hsl(350, 100%, 88%);
}

#font-container{
    width: 100%;
}

.font-panel{
    display: inline-block;
    width: 45%;
}

.font-name{
    font-size: 20px;
    text-decoration:underline;
}

#oswald-light300{
    font-family: Oswald;
    font-style: normal;
    font-weight: 100;
}

#oswald-regular400{
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
}

#oswald-semi-bold600{
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
}

#oswald-bold700{
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
}

#prosto-one-regular{
    font-family: 'Prosto One';
    font-style: normal;
}

#raleway-thin{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
}

#raleway-regular{
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 300;
}

#raleway-semi-bold600{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
}